.complete-container {
    margin-left: 20%;
}
.btn-flip {
    width: 53%;
    height: 20%;
    opacity: 1;
    outline: 0;
    color: black;
    line-height: 40px;
    position: auto;
    text-align: center;
    letter-spacing: 1px;
    display: inline;
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        } 
    }

    &:after {
        top:0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #323237;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #adadaf;
        transform: translateY(-50%) rotateX(90deg);
    }

    &::before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: absolute;
        background: #323237;
        transform: translateY(0) rotateX(0);
    }
}